* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #0b1120;
  color: #0b1120;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  color: #e2e8f0;
}

header img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid white;
}

header h1 {
  font-size: 42px;
}

header p {
  opacity: 0.9;
}

nav {
  position: sticky;
  top: 0;
  background: #020617;
  display: flex;
  justify-content: center;
  z-index: 10;
}

nav a {
  padding: 15px 20px;
  color: #e2e8f0;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #22c55e;
}

section {
  padding: 80px 20px;
  text-align: center;
  background: #e5e4e2;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #1e293b;
  color: white;
  border-radius: 30px;
  transition: 0.3s;
}

.skills span:hover {
  background: #3b82f6;
  transform: scale(1.1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 260px;
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
  color: #e2e8f0;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: translateY(-15px) scale(1.05);
}

.card h3 {
  margin: 10px;
}

.card p {
  padding: 0 10px 10px;
  font-size: 14px;
}

#contact {
  background: #ffffff;
  color: #0b1120;
}

.contact-form {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background: #f3f4f6;
  color: #0b1120;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #16a34a;
}

footer {
  padding: 20px;
  text-align: center;
  background: #020617;
  color: #e2e8f0;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
